body {
    margin:0;
    font-family:'Lato', sans-serif;
    text-align:left;
    background-color: #333333;
}

.container{
    width: 1000px;
    margin: 42px;
    background-color: #616161;
}

a{
    margin: 12px;
    color:white;
    font-size: 20px;
    font-weight: bold;
}

Form{
    margin: 12px;
}

label, input{
    margin: 8px;
    font-weight: bold;
}

